 


 /*main_nav*/
 .main_nav{background-color: aqua; height: 60px; width: 100%;}
 .main_nav .container {padding: 13px;}
 .main_nav .container .menu_navbar { background-color: #fed136; color:#fff; border: 0; font-size: 12pt;  padding:12px; border-radius: 5px; float: right;}
 .main_nav .container .site_name { text-decoration:none; color:black; font-weight: bold; font-size: 20pt;  }
 .main_nav .container .navbar_info { height: 40px; width:400px;float:right; margin-right: 20px; }
 .main_nav .container .navbar_info .navbar_menu_four{list-style: none;  float: right; }
 .main_nav .container .navbar_info .navbar_menu_four li {display: inline; margin-right: 10px;}
 .main_nav .container .navbar_info .navbar_menu_four a {text-decoration:none; color:black;}
 
 
 
 
 
 /* PC */
  .wrap{width:1200px;  margin:0 auto;}
  .wrap .center{ overflow: hidden;background-color: purple; height: 800px; width:100%;  }
  .wrap .Project{ background-color:royalblue;  height: 450px;float:left; width:50%;   }
  .wrap .Career{ background-color: yellow; height: 450px; float:left;  width:50%;  }
  .wrap .SNS {background-color: black; height: 200px;width:100%; float:left}
  
@media (min-width:901px) { 
  .menu_navbar {display: none;}
  body {background-color : orange;}
}
@media (min-width:701px) and ( max-width: 900px){/* 노트북 */
  body {background-color : blue;}
  .menu_navbar {display: none;}
  .wrap{width:100%;  margin: auto;}
}
@media (min-width:501px) and ( max-width: 700px){/* 태블릿 */
  body {background-color : green;}
  .wrap{width:100%;  margin: auto;}
  .navbar_menu_four {display: none;}
  .wrap .Project{ background-color:royalblue;  height: 500px;float:left; width:50%;   }
  .wrap .Career{ background-color: yellow; height: 500px; float:left;  width:50%;  }
  .wrap .SNS {background-color: black; height: 250px;width:100%;}
}
@media (min-width: 0px) and (max-width:500px){/* 핸드폰 */
  body {background-color : red;}
  .wrap {width:100%; }.navbar_menu_four {display: none;}
  .wrap .Project{ background-color:royalblue;  height: 500px;  clear:both; width:100%;  }
  .wrap .Career{ background-color: yellow; height: 500px;  clear:both;width:100%;  }
  .wrap .SNS {background-color: black; height: 250px;clear:both; }
  /* clear:both == float:none; */
}




/* 메뉴  */
.menu_navbar { font-family:'arial'; width:130px;height: 20px;}
.menu_navbar ul{ width:100%; margin:0; padding:0px; }
.menu_navbar ul.menu li{ position:relative; float:left; width:100%; list-style-type:none; font-size:18px;}
.menu_navbar ul.menu li a{ display:block; width:100%; height:100%; line-height:23px; text-indent:42px; color:#000; font-weight:bold; text-decoration:none; }
.menu_navbar ul.menu li a:hover{ background:#eee; }
.menu_navbar ul.menu li .menu_sub a{ line-height:40px; font-size:14px;position:relative; float:left; display:block; width:-10px; z-index:999; background:rgba(253, 255, 133, 0.719); }
.menu_navbar ul.menu li .menu_sub a:hover{ background:rgba(68, 68, 68, 0.459); color:#fff; }


/*슬라이더*/
.Project{
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  text-align: center;
}
.img-continer{
  width:600px;
  height: 100%;
  position: relative;
  transition:  left 2s;
  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition:  left 2s;
}
.Silder-img{
  float: left;
  margin: 0px;
  padding:0px;
}
.button-imgSilder{
  
  top:20px;
  position: absolute;
}
.Silder-button{
  
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: white;
}
#Silder-image-1:target ~ .img-continer{
  top: 0px;
}
#Silder-image-2:target ~ .img-continer{
  top: -400px;
}
#Silder-image-3:target ~ .img-continer{
  top: -1000px;
}


/*  SNS  */
.SNS img{
  height: 65px; width: auto;margin-left: auto; margin-right: auto; display: block;
}

/*center*/
.center .self-introduction{
  margin:40px;
}
.center .self-introduction #My_name{
  font-size: 20px; font-weight: bold;
}
.center .self-introduction #Lan{
  text-align: left;
}
.center .self-introduction ul{
  text-align: left;
  font-size: 13px;
}
.center .self-introduction #see_photo{
  font-size: 14pt;
  width: 300px;
  height: 44px;
  background-color: azure;
  border-radius: 13px 13px 13px 13px;
}

/* Career */
.Career #More_infoma{
  width: 175px;
  height: 55px;
  font-size: 14pt;
  border-radius: 13px 13px 13px 13px;
  background-color: azure;
}
